<body data-spy="scroll" data-target=".menu-area" data-offset="200">
    <!--wrapper page-->
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header no-window" id="home">
            <div class="content-table header-content-fixed ">
                <div class="whoim">
                    <div class="box-line text-uppercase text-bold">
                        OUTBREAK
                    </div>
                </div>
                <div class="v-content">
                    <div class="container">
                        <h1 class="text-uppercase color-dark name">Кем будешь ты?</h1>
                        <h4 class="text-uppercase color-dark font-alt job"><span id="typed" class="typed"></span></h4>
                    </div>
                </div>
            </div>

            <!-- Main navbar -->
            <div class="menu-area">
                <div class="toogle-bars">
                    <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i>Меню</a>
                </div>
                <div class="menu-collapse collapse" id="menu-collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <ul class="breadcrumb main-nav nav">
                                    <li><a href="/home/index" class="link-inpage">Домой</a></li>
                                    <li><a href="/account/profile/@ViewBag.Player.Id" class="link-inpage">Назад в профиль</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <ul class="breadcrumb main-nav no-space">
                                        <li class="link-inpage"><a asp-controller="Account" asp-action="Logoff" id="hireme-tab" class="link-inpage"> Выйти</a></li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Main navbar -->
        </header><!-- End Main Header -->
        
        <section class="block-section">
            <div class="white-space-50"></div>
                <div class="container">
                    <div class="col-md-4">
                        <p><h4> Персонаж #<text class="color-dark">@ViewBag.Character.CharacterId</text></h4>
                        <h4> Полное имя: <text class="color-dark"> @ViewBag.Character.Name </text></h4>
                        @if (ViewBag.Character.Roles != null)
                        {
                            <h4> Роли: <text class="color-dark"> @ViewBag.Character.Roles </text></h4>
                        }
                        @if (ViewBag.Character.subRoles != null)
                        {
                            <h4> Суброли: <text class="color-dark"> @ViewBag.Character.subRoles </text></h4>
                        }
                        <h4> Идентификационный код: <text class="color-dark"> @ViewBag.Character.identityCode </text></h4>
                        <h4> Печать: <text class="color-dark"> @ViewBag.Character.signature </text></h4>

                        @if (ViewBag.Character.live)
                        {
                            <h4>
                                Статус: <text class="color-dark"> Жив </text>
                            </h4>

                        }
                        else
                        {
                            <h4>
                                Статус: <text class="color-dark"> Мертв </text>
                            </h4>
                        }
                        @if (ViewBag.Character.approved)
                        {
                            <h4>
                                Вердикт: <text class="color-dark"> Утвержден </text>
                            </h4>

                        }
                        else
                        {
                            <h4>
                                Вердикт: <text class="color-dark"> Не утвержден </text>
                            </h4>
                        }</p>
                    </div>
                    <div class="col-md-8">
                        <h4>
                            <text class="color-dark"> Личный дневник: </text>
                        </h4>
                        @if (ViewBag.hasDiary)
                        {
                            @foreach (var item in ViewBag.Diary)
                            {
                                <p class="color-dark"> Запись от @item.Date : </p>
                                
                                <blockquote>
                                    <p>@item.Text</p>
                                </blockquote>
                                <hr>
                            }
                        }
                        else
                        {
                            <p class="color-dark"> Дневник пуст </p>
                        }
                    </div>
                 </div>
            <div class="white-space-50"></div>
        </section>

            <!--FOOTER-->
            <footer class="main-footer">
                <div class="container">
                    <div class="folow-me">
                        До новых встреч!
                    </div>
                    <p class="text-center no-margin">
                        Furik, Dippy &COPY; 2017
                    </p>
                    <a href="#home" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </footer><!--END FOOTER-->
</div><!--End wrapper page-->
    <!-- generate captcha -->
    <div id="mycaptcha-wrap" class="hidden mycaptcha1">
        <div id="mycaptcha" class="mycaptcha1"></div>
    </div>
</body>